
<div id="generated">Generate a Tweet!</div>

<br>

<%= form_tag(signout_path, :method => 'delete') do%>
<a class='btn btn-success' id='generate'>
           Generate!
           </a>
<button class='btn btn-danger' id='sign_out'>
           Sign Out
           </button>
<%end%>

<script>
var input=<%=raw @latest_tweets%>;

var kValue=1;
var MAX_LENGTH=50;

cleanInput();
//strip hashtags and mentions
function cleanInput(){
    var targets=["@", "#", "|"];
    for (var i=0;i<input.length;i++){
        var tweetArray=input[i].split(" ");
        var newArray=[];
        for (var j=0;j<tweetArray.length;j++){
                if (targets.indexOf(tweetArray[j].substring(0,1))<0){
                    newArray.push(tweetArray[j]);
                }
            }
            input[i]=newArray.join(" ").trim();
    }
}

console.log(input);
//find start seeds
var origSeeds=input.map(function(d){
    if (d.split(" ").length>kValue){
        return d.split(" ").slice(0,kValue).join(" ");
    }
});
//remove undefined elements
startSeeds = [];
for (var i=0;i<origSeeds.length;i++){
    if (origSeeds[i]!=undefined){
        startSeeds.push(origSeeds[i]);
    }
}
console.log(startSeeds);
//generate markov map
var map={};
for (var i=0;i<input.length;i++){
        var tweetArray=input[i].split(" ");
        for (var j=0;j<tweetArray.length-kValue;j++){
                key=tweetArray.slice(j,j+kValue).join(" ");
                value=tweetArray[j+kValue];
                if (!(key in map)){
                    map[key]=[];
                }
                map[key].push(value);
            }
        }
console.log(map);

function generateTweet(){
//select a random start seed
var start=startSeeds[Math.floor(Math.random()*startSeeds.length)];
var string=start.split(" ");
while (map[start]!=undefined && string.length<MAX_LENGTH){
    var next=map[start][Math.floor(Math.random()*map[start].length)]; //weighted random choice
string.push(next);
start=string.slice(string.length-kValue, string.length).join(" ");
}
return string.join(" ");
}

$("#generate").on("click", function(){
    $("#generated").html(generateTweet());
});

</script>