
<div id="generated">Generate a Tweet!</div>

<br>

<%= form_tag(signout_path, :method => 'delete') do%>
<a class='btn btn-success' id='generate'>
           Generate!
           </a>
<button class='btn btn-danger' id='sign_out'>
           Sign Out
           </button>
<%end%>

<script>
var input=<%=raw @latest_tweets%>;
var MAX_LENGTH=50;

function cleanInput(){
    var targets=["@", "#", "|"];
    for (var i=0;i<input.length;i++){
        var tweetArray=input[i].split(" ");
        var newArray=[];
        for (var j=0;j<tweetArray.length;j++){
                if (targets.indexOf(tweetArray[j].substring(0,1))<0){
                    newArray.push(tweetArray[j]);
                }
            }
            input[i]=newArray.join(" ").trim();
    }
}
//strip hashtags and mentions
cleanInput();
console.log(input);

//find starting words
var origSeeds=input.map(function(d){
        return d.split(" ").slice(0,1).join(" ");
});
//remove undefined elements
startSeeds = [];
for (var i=0;i<origSeeds.length;i++){
    if (origSeeds[i]!=undefined){
        startSeeds.push(origSeeds[i]);
    }
}

//generate markov
function generateMarkovModel(kVal){
    var map={};
    for (var i=0;i<input.length;i++){
            var tweetArray=input[i].split(" ");
            for (var j=0;j<tweetArray.length-kVal;j++){
                    key=tweetArray.slice(j,j+kVal).join(" ");
                    value=tweetArray[j+kVal];
                    if (!(key in map)){
                        map[key]=[];
                    }
                    map[key].push(value);
                }
            }
    return map;
}
var mapArray=[generateMarkovModel(1),generateMarkovModel(2)];
console.log(mapArray);

function generateTweet(){
    //select a random start seed
    var start=startSeeds[Math.floor(Math.random()*startSeeds.length)];
    var string=start.split(" ");
    var currMap=mapArray[0]; //first iteration using order-1 model

    while (currMap[start]!=undefined && string.length<MAX_LENGTH){
        var next=currMap[start][Math.floor(Math.random()*currMap[start].length)]; //weighted random choice
        string.push(next);
        //randomly choose between order 1 and 2 for next map
        var rand=Math.floor(Math.random()*mapArray.length);
        //console.log(rand);
        currMap=mapArray[rand];
        start=string.slice(string.length-(rand+1), string.length).join(" ");
    }
    return string.join(" ");
}

$("#generate").on("click", function(){
    $("#generated").html(generateTweet());
});

</script>